.verticalCHorizonC {
  display: flex;
  justify-content: center;
  align-items: center;
}
.verticalspacebetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  color: #081c3a;
  font-family: Inter, sans-serif;
  width: 100%;
  font-size: 14px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #081c3a;
}
h1 {
  letter-spacing: -0.025em;
  font-family: Poppins, sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 1.25em;
}
h2 {
  letter-spacing: -0.03em;
  font-family: Poppins, sans-serif;
  font-size: 34px;
  font-weight: 600;
  line-height: 1.3em;
}
h3 {
  letter-spacing: -0.03em;
  font-family: Poppins, sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.25em;
}
h4 {
  letter-spacing: -0.01em;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}
.subtitle {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 400;
  line-height: 1.4em;
}
.subtitle.small {
  font-size: 8px;
}
.body_text {
  color: #516381;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.6em;
}
.body_text.large {
  color: #516381;
  font-size: 19px;
}
.body_text.small {
  font-size: 14px;
  line-height: 1.4em;
}
.subtitle.large {
  font-size: 14px;
}
.button.white {
  color: #081c3a;
  background-color: #fff;
}
.button.white:hover {
  scale: 1.03;
  background-color: #f7f8fc;
}
.button {
  color: #fff;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: #3572ff;
  border-style: none;
  border-radius: 5px;
  padding: 16px 32px;
  font-size: 10px;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;
  line-height: 20px;
  height: 52px;
}
.button:hover {
  cursor: pointer;
  transform: scale(1.03);
  background-color: #081c3a;
}
.header {
  width: auto;
  height: 100vh;
  background-image: url(https://assets.website-files.com/606764630d23c37bf9d41bb1/607dcd3355581e17e093caed_011.jpeg);
  background-size: cover;
  background-position: 50%;
  background-color: rgba(15, 19, 38, 0.55);
  overflow: hidden;
}
.header .overlay {
  background-color: rgba(15, 19, 38, 0.55);
  width: 100%;
  height: 100%;
}
.header .overlay #model {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.4;
  position: absolute;
  display: none;
}
.header .overlay .heading {
  display: flex;
  width: 100%;
  height: 65px;
}
.header .overlay .heading .menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 80px;
  height: 64px;
  background-color: #fff;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.header .overlay .heading .menu .rotatebox {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transition: 1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .overlay .heading .menu .menubar {
  height: 30px;
  width: 30px;
  transform-origin: center;
}
.header .overlay .heading .menu .menubar:hover {
  cursor: pointer;
}
@keyframes rotate-appear-animation {
  0% {
    opacity: 0;
    transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: rotate(-180deg);
  }
}
@keyframes rotate-disappear-animation {
  0% {
    opacity: 0;
    transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: rotate(180deg);
  }
}
.header .overlay .heading .logoName {
  display: inline-block;
  text-decoration: none;
  position: fixed;
  left: 80px;
  z-index: 199;
}
.header .overlay .heading .logoName .logo {
  width: 150px;
  height: 64px;
  color: #FFFFFF;
  font-family: Eudoxussans, sans-serif;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  line-height: 64px;
  letter-spacing: -0.02em;
}
.header .overlay .heading .logoName .logo .thin-span {
  font-weight: 500;
}
.header .overlay .heading .nav {
  position: fixed;
  display: flex;
  width: calc(100% - 80px);
  height: 64px;
  top: -64px;
  left: 80px;
  background-color: #FFFFFF;
  transition: top 2s ease-in-out;
  z-index: 99;
}
.header .overlay .heading .nav .intro {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 64px;
  min-width: 800px;
}
.header .overlay .heading .nav .intro .text {
  width: 130px;
  height: 40px;
  font-family: Inter, sans-serif;
  color: #081c3a;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 3px;
  line-height: 40px;
  text-align: center;
  transition: all 0.5s;
  border-radius: 10px;
}
.header .overlay .heading .nav .intro .text:hover {
  background-color: rgba(192, 192, 211, 0.2);
}
.header .overlay .heading .destination {
  position: fixed;
  width: 175px;
  height: 44px;
  text-transform: uppercase;
  left: 1280px;
  top: 10px;
  font-family: Inter, sans-serif;
  color: #fff;
  font-size: 11px;
  line-height: 44px;
  text-align: center;
  letter-spacing: 3px;
  padding-left: 10px;
  border: 1px solid rgba(192, 192, 211, 0.2);
  cursor: pointer;
  z-index: 101;
  border-radius: 5px;
}
.header .overlay .heading .destination::after {
  content: '\f078';
  font: var(--fa-font-solid);
}
.header .overlay .heading .uparrow::after {
  content: '\f077';
  font: var(--fa-font-solid);
}
.header .overlay .heading .destination_options.open {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 105;
}
.header .overlay .heading .destination_options {
  width: 500px;
  height: 280px;
  z-index: 5;
  border-radius: 10px;
  background-color: #fff;
  position: fixed;
  top: 65px;
  right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.header .overlay .heading .destination_options .optionContent {
  width: 460px;
  height: 230px;
}
.header .overlay .heading .destination_options .optionContent .subtitle {
  width: 460px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.header .overlay .heading .destination_options .optionContent .subtitle :nth-child(2) {
  width: 260px;
  height: 1px;
  border-bottom: 1px solid rgba(192, 192, 211, 0.2);
}
.header .overlay .heading .destination_options .optionContent .desoptionLocation {
  display: flex;
  justify-content: space-between;
  width: 475px;
  height: 100px;
  margin-bottom: 12px;
}
.header .overlay .heading .destination_options .optionContent .desoptionLocation .desoptionText {
  margin-right: 15px;
  border: 1px solid rgba(192, 192, 211, 0.2);
  width: 300px;
  height: 90px;
  transition: 0.5s;
  border-radius: 5px;
  overflow: hidden;
}
.header .overlay .heading .destination_options .optionContent .desoptionLocation .desoptionText:hover {
  transform: scale(1.05);
  transition-timing-function: ease-in-out;
  cursor: pointer;
}
.header .overlay .heading .destination_options .optionContent .desoptionLocation .desoptionText:hover .France {
  background: linear-gradient(0deg, rgba(15, 19, 38, 0.55), rgba(15, 19, 38, 0.55)), url(https://assets.website-files.com/643bcd3a5f63889da40c7e3b/643bcd3a5f6388891c0c7e50_001.jpeg);
  background-size: cover;
}
.header .overlay .heading .destination_options .optionContent .desoptionLocation .desoptionText:hover .Indonesia {
  background: linear-gradient(0deg, rgba(15, 19, 38, 0.55), rgba(15, 19, 38, 0.55)), url(https://assets.website-files.com/643bcd3a5f63889da40c7e3b/643bcd3a5f63885dc20c7e57_031.jpeg) no-repeat;
  background-size: cover;
}
.header .overlay .heading .destination_options .optionContent .desoptionLocation .desoptionText:hover .Greece {
  background: linear-gradient(0deg, rgba(15, 19, 38, 0.55), rgba(15, 19, 38, 0.55)), url(https://assets.website-files.com/643bcd3a5f63889da40c7e3b/643bcd3a5f63887de10c7e56_011.jpeg) no-repeat;
  background-size: cover;
}
.header .overlay .heading .destination_options .optionContent .desoptionLocation .desoptionText:hover .Egypt {
  background: linear-gradient(0deg, rgba(15, 19, 38, 0.55), rgba(15, 19, 38, 0.55)), url(https://assets.website-files.com/643bcd3a5f63889da40c7e3b/643bcd3a5f6388672c0c7e55_026.jpeg) no-repeat;
  background-size: cover;
}
.header .overlay .heading .destination_options .optionContent .desoptionLocation .desoptionText:hover .boxcontent_locations .boxcontent_card h4 {
  color: #fff;
  font-weight: 700;
}
.header .overlay .heading .destination_options .optionContent .desoptionLocation .desoptionText:hover .boxcontent_locations .boxcontent_card .subtitle {
  color: #fff;
  font-weight: 500;
}
.header .overlay .heading .destination_options .optionContent .desoptionLocation .desoptionText:hover .boxcontent_locations .boxcontent_gonext {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .overlay .heading .destination_options .optionContent .desoptionLocation .desoptionText:hover .boxcontent_locations .boxcontent_gonext :nth-child(1) {
  color: #fff;
}
.header .overlay .heading .destination_options .optionContent .desoptionLocation .desoptionText:hover .boxcontent_locations.contact {
  background-color: #f7f8fc;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}
.header .overlay .heading .destination_options .optionContent .desoptionLocation .desoptionText:hover .boxcontent_locations.contact:hover .boxcontent_card {
  transform: translate(15px);
}
.header .overlay .heading .destination_options .optionContent .desoptionLocation .desoptionText:hover .boxcontent_locations.contact:hover .info_gonext {
  transform: translate(15px);
}
.header .overlay .heading .destination_options .optionContent .desoptionLocation .desoptionText:hover .boxcontent_locations .info_gonext :nth-child(1) {
  color: #152844;
  background-color: #f7f8fc;
  border: 1px solid rgba(192, 192, 211, 0.2);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .overlay .heading .destination_options .optionContent .desoptionLocation .desoptionText .boxcontent_locations {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .overlay .heading .destination_options .optionContent .desoptionLocation .desoptionText .boxcontent_locations .boxcontent_card {
  padding: 20px 20px;
  width: 137px;
  height: 90px;
}
.header .overlay .heading .destination_options .optionContent .desoptionLocation .desoptionText .boxcontent_locations .boxcontent_card .subtitle {
  padding: 15px 0px;
}
.header .overlay .heading .destination_options .optionContent .desoptionLocation .desoptionText .boxcontent_locations .boxcontent_gonext {
  border-radius: 50%;
  border: 1px solid rgba(192, 192, 211, 0.2);
  width: 30px;
  height: 30px;
  margin-right: 20px;
  display: none;
}
.header .overlay .sideLogoBox {
  width: 80px;
  height: 100vh;
  position: fixed;
  border-right: 1px solid rgba(242, 242, 246, 0.2);
  z-index: 25;
}
.header .overlay .sideLogoBox .sidelogo {
  position: fixed;
  bottom: 5px;
  width: 79px;
  height: 120px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10;
}
.header .overlay .sideLogoBox .sidelogo .companyicon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(192, 192, 211, 0.5);
  border: 1px solid rgba(192, 192, 211, 0.2);
}
.header .overlay .sideLogoBox .sidelogo .companyicon:hover {
  cursor: pointer;
  background-color: #3572ff;
}
.header .overlay .sidebar.open {
  animation: sidebaropen 1.2s ease-in-out 1 normal forwards;
}
@keyframes sidebaropen {
  0% {
    left: -445px;
  }
  100% {
    left: 0px;
  }
}
.header .overlay .sidebar {
  overflow: hidden;
  width: 440px;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  left: -445px;
  top: 0;
  transition-timing-function: ease-in-out;
  z-index: 99;
}
.header .overlay .sidebar .sidebarContainer {
  width: 430px;
  height: 100vh;
  margin: 100px 0px 0px 50px;
}
.header .overlay .sidebar .sidebarContainer .sidebarScrollContainer {
  width: 380px;
  height: calc(100vh - 180px);
  overflow-y: scroll;
  overflow-x: hidden;
}
.header .overlay .sidebar .sidebarContainer .sidebarScrollContainer .sidebarScrollbox {
  width: 360px;
}
.header .overlay .sidebar .sidebarContainer .sidebarScrollContainer .sidebarScrollbox .subtitle {
  width: 330px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.header .overlay .sidebar .sidebarContainer .sidebarScrollContainer .sidebarScrollbox .subtitle :nth-child(2) {
  flex: 1;
  margin-left: 20px;
  height: 1px;
  border-bottom: 1px solid rgba(192, 192, 211, 0.2);
}
.header .overlay .sidebar .sidebarContainer .sidebarScrollContainer .sidebarScrollbox .scrollboxcontent.infocontent {
  margin: 10px 5px 10px 0;
  border: 1px solid rgba(192, 192, 211, 0.2);
  width: 315px;
  height: 62px;
  transition: 0.5s;
  border-radius: 5px;
  background-color: #f7f8fc;
}
.header .overlay .sidebar .sidebarContainer .sidebarScrollContainer .sidebarScrollbox .scrollboxcontent {
  margin: 10px;
  border: 1px solid rgba(192, 192, 211, 0.2);
  width: 310px;
  height: 96px;
  transition: 0.5s;
  border-radius: 5px;
  overflow: hidden;
}
.header .overlay .sidebar .sidebarContainer .sidebarScrollContainer .sidebarScrollbox .scrollboxcontent:hover {
  transform: scale(1.05);
  transition-timing-function: ease-in-out;
}
.header .overlay .sidebar .sidebarContainer .sidebarScrollContainer .sidebarScrollbox .scrollboxcontent:hover .Africa {
  background: linear-gradient(0deg, rgba(15, 19, 38, 0.55), rgba(15, 19, 38, 0.55)), url(https://assets.website-files.com/643bcd3a5f63889da40c7e3b/643bcd3a5f638834fc0c7f46_021.jpeg) no-repeat;
  background-size: cover;
}
.header .overlay .sidebar .sidebarContainer .sidebarScrollContainer .sidebarScrollbox .scrollboxcontent:hover .Asia {
  background: linear-gradient(0deg, rgba(15, 19, 38, 0.55), rgba(15, 19, 38, 0.55)), url(https://assets.website-files.com/643bcd3a5f63889da40c7e3b/643bcd3a5f63885dc20c7e57_031.jpeg) no-repeat;
  background-size: cover;
}
.header .overlay .sidebar .sidebarContainer .sidebarScrollContainer .sidebarScrollbox .scrollboxcontent:hover .Europe {
  background: linear-gradient(0deg, rgba(15, 19, 38, 0.55), rgba(15, 19, 38, 0.55)), url(https://assets.website-files.com/643bcd3a5f63889da40c7e3b/643bcd3a5f6388fbcc0c7eab_015.jpeg) no-repeat;
  background-size: cover;
}
.header .overlay .sidebar .sidebarContainer .sidebarScrollContainer .sidebarScrollbox .scrollboxcontent:hover .France {
  background: linear-gradient(0deg, rgba(15, 19, 38, 0.55), rgba(15, 19, 38, 0.55)), url(https://assets.website-files.com/643bcd3a5f63889da40c7e3b/643bcd3a5f6388891c0c7e50_001.jpeg) no-repeat;
  background-size: cover;
}
.header .overlay .sidebar .sidebarContainer .sidebarScrollContainer .sidebarScrollbox .scrollboxcontent:hover .Indonesia {
  background: linear-gradient(0deg, rgba(15, 19, 38, 0.55), rgba(15, 19, 38, 0.55)), url(https://assets.website-files.com/643bcd3a5f63889da40c7e3b/643bcd3a5f63885dc20c7e57_031.jpeg) no-repeat;
  background-size: cover;
}
.header .overlay .sidebar .sidebarContainer .sidebarScrollContainer .sidebarScrollbox .scrollboxcontent:hover .Greece {
  background: linear-gradient(0deg, rgba(15, 19, 38, 0.55), rgba(15, 19, 38, 0.55)), url(https://assets.website-files.com/643bcd3a5f63889da40c7e3b/643bcd3a5f63887de10c7e56_011.jpeg) no-repeat;
  background-size: cover;
}
.header .overlay .sidebar .sidebarContainer .sidebarScrollContainer .sidebarScrollbox .scrollboxcontent:hover .Egypt {
  background: linear-gradient(0deg, rgba(15, 19, 38, 0.55), rgba(15, 19, 38, 0.55)), url(https://assets.website-files.com/643bcd3a5f63889da40c7e3b/643bcd3a5f6388672c0c7e55_026.jpeg) no-repeat;
  background-size: cover;
}
.header .overlay .sidebar .sidebarContainer .sidebarScrollContainer .sidebarScrollbox .scrollboxcontent:hover .boxcontent_locations .boxcontent_card h4 {
  color: #fff;
  font-weight: 700;
}
.header .overlay .sidebar .sidebarContainer .sidebarScrollContainer .sidebarScrollbox .scrollboxcontent:hover .boxcontent_locations .boxcontent_card .subtitle {
  color: #fff;
  font-weight: 500;
}
.header .overlay .sidebar .sidebarContainer .sidebarScrollContainer .sidebarScrollbox .scrollboxcontent:hover .boxcontent_locations .boxcontent_gonext {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .overlay .sidebar .sidebarContainer .sidebarScrollContainer .sidebarScrollbox .scrollboxcontent:hover .boxcontent_locations .boxcontent_gonext :nth-child(1) {
  color: #fff;
}
.header .overlay .sidebar .sidebarContainer .sidebarScrollContainer .sidebarScrollbox .scrollboxcontent:hover .boxcontent_locations.contact {
  background-color: #f7f8fc;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}
.header .overlay .sidebar .sidebarContainer .sidebarScrollContainer .sidebarScrollbox .scrollboxcontent:hover .boxcontent_locations.contact .boxcontent_card {
  width: 260px;
  height: 62px;
  padding: 20px 20px;
}
.header .overlay .sidebar .sidebarContainer .sidebarScrollContainer .sidebarScrollbox .scrollboxcontent:hover .boxcontent_locations.contact:hover .boxcontent_card {
  transform: translate(10px);
}
.header .overlay .sidebar .sidebarContainer .sidebarScrollContainer .sidebarScrollbox .scrollboxcontent:hover .boxcontent_locations.contact:hover .info_gonext {
  transform: translate(10px);
}
.header .overlay .sidebar .sidebarContainer .sidebarScrollContainer .sidebarScrollbox .scrollboxcontent:hover .boxcontent_locations .info_gonext :nth-child(1) {
  color: #152844;
  background-color: #f7f8fc;
  border: 1px solid rgba(192, 192, 211, 0.2);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .overlay .sidebar .sidebarContainer .sidebarScrollContainer .sidebarScrollbox .scrollboxcontent .boxcontent_locations {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .overlay .sidebar .sidebarContainer .sidebarScrollContainer .sidebarScrollbox .scrollboxcontent .boxcontent_locations:hover {
  cursor: pointer;
}
.header .overlay .sidebar .sidebarContainer .sidebarScrollContainer .sidebarScrollbox .scrollboxcontent .boxcontent_locations .boxcontent_card {
  width: 230px;
  height: 96px;
  padding: 20px 20px;
}
.header .overlay .sidebar .sidebarContainer .sidebarScrollContainer .sidebarScrollbox .scrollboxcontent .boxcontent_locations .boxcontent_card:hover {
  cursor: pointer;
}
.header .overlay .sidebar .sidebarContainer .sidebarScrollContainer .sidebarScrollbox .scrollboxcontent .boxcontent_locations .boxcontent_card .subtitle {
  padding: 15px 0px;
}
.header .overlay .sidebar .sidebarContainer .sidebarScrollContainer .sidebarScrollbox .scrollboxcontent .boxcontent_locations .boxcontent_gonext {
  border-radius: 50%;
  border: 1px solid #fff;
  width: 30px;
  height: 30px;
  margin-right: 20px;
  display: none;
}
.header .overlay .sidebar .sidebarContainer .sidebarScrollContainer .sidebarScrollbox .followustitle {
  width: 340px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 60px 0;
}
.header .overlay .sidebar .sidebarContainer .sidebarScrollContainer .sidebarScrollbox .followustitle .followusText {
  letter-spacing: 2px;
  font-size: 11px;
}
.header .overlay .sidebar .sidebarContainer .sidebarScrollContainer .sidebarScrollbox .followustitle .followusIcon {
  display: flex;
  align-items: center;
  width: 220px;
}
.header .overlay .sidebar .sidebarContainer .sidebarScrollContainer .sidebarScrollbox .followustitle .followusIcon .followusIcon_circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(192, 192, 211, 0.2);
  background-color: #f7f8fc;
  margin-right: 15px;
}
.header .overlay .sidebar .sidebarContainer .sidebarScrollContainer .sidebarScrollbox .followustitle .followusIcon .followusIcon_circle:hover {
  cursor: pointer;
}
.header .overlay .sidebar .sidebarContainer .sidebarScrollContainer .secondbox {
  margin-top: 50px;
}
.header .overlay .agentTitleBox {
  width: 650px;
  height: 300px;
  color: #FFFFFF;
  margin: 220px auto;
}
.header .overlay .agentTitleBox .agentSubtitle {
  text-align: center;
}
.header .overlay .agentTitleBox .agentTitleName {
  font-size: 68px;
  margin-top: 30px;
  text-align: center;
}
.futuretravel {
  margin-left: 80px;
  width: 100vw;
  height: 1000px;
}
.futuretravel .futuretravelCenter {
  width: 1500px;
  height: 1000px;
  margin: 0 auto;
  position: relative;
}
.futuretravel .futuretravelCenter .futuretravelBox {
  position: absolute;
  top: -60px;
  left: 36px;
  width: 1250px;
  height: 600px;
  padding: 48px 48px 0px;
  background-color: white;
  border-radius: 5px;
}
.futuretravel .futuretravelCenter .futuretravelBox .futuretravelTitle {
  text-align: center;
  margin-bottom: 30px;
}
.futuretravel .futuretravelCenter .futuretravelBox .futuretravelContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1250px;
  height: 500px;
  padding: 20px;
  margin-bottom: 100px;
}
.futuretravel .futuretravelCenter .futuretravelBox .futuretravelContent .futuretravelLeft {
  width: 500px;
  height: 500px;
}
.futuretravel .futuretravelCenter .futuretravelBox .futuretravelContent .futuretravelLeft .futuretravelLeftTitle {
  margin: 0.67em 0;
}
.futuretravel .futuretravelCenter .futuretravelBox .futuretravelContent .futuretravelLeft .futuretravelLeftText {
  margin: 50px 0;
}
.futuretravel .futuretravelCenter .futuretravelBox .futuretravelContent .futuretravelRight {
  width: 600px;
  height: 500px;
}
.futuretravel .futuretravelCenter .futuretravelBox .futuretravelContent .futuretravelRight .futuretravelRightImgBox {
  min-width: 200px;
  width: 600px;
  height: 465px;
  column-count: 2;
  column-gap: 5px;
  counter-reset: count;
  list-style: none;
}
.futuretravel .futuretravelCenter .futuretravelBox .futuretravelContent .futuretravelRight .futuretravelRightImgBox .futuretravelRightImg {
  position: relative;
  margin-bottom: 5px;
}
.futuretravel .futuretravelCenter .futuretravelBox .futuretravelContent .futuretravelRight .futuretravelRightImgBox .futuretravelRightImg img {
  width: 225px;
  height: 225px;
  border-radius: 3px 10px 10px 3px;
}
.futuretravel .futuretravelCenter .futuretravelBox .futuretravelContent .futuretravelRight .futuretravelRightImgBox .futuretravelRightImg #peopleImg {
  width: 295px;
  height: 460px;
  border-radius: 10px;
}
.futuretravel .futuretravelCenter .futuretravelBox .futuretravelContact {
  display: flex;
  justify-content: space-evenly;
  width: 1120px;
  height: 200px;
  border: 1px solid rgba(192, 192, 211, 0.2);
  border-radius: 12px;
}
.futuretravel .futuretravelCenter .futuretravelBox .futuretravelContact .futuretraveContactItem {
  width: 275px;
  height: 200px;
  padding: 20px 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #516381;
  border-radius: 12px;
  transition: 1s;
}
.futuretravel .futuretravelCenter .futuretravelBox .futuretravelContact .futuretraveContactItem:hover {
  cursor: pointer;
  transform: scale(1.03);
  z-index: 2;
  box-shadow: 0 9px 42px -6px rgba(53, 64, 117, 0.5);
  background-color: white;
}
.futuretravel .futuretravelCenter .futuretravelBox .futuretravelContact .futuretraveContactItem .futuretravelContactIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border: 1px solid rgba(192, 192, 211, 0.2);
  border-radius: 50%;
  background-color: #fff;
}
.futuretravel .futuretravelCenter .futuretravelBox .futuretravelContact .futuretraveContactItem .futuretravelContactName {
  font-size: 11px;
  color: #516381;
  margin: 10px 0 8px 0;
}
.futuretravel .futuretravelCenter .futuretravelBox .futuretravelContact .futuretraveContactItem .futuretravelContactText {
  height: 34px;
  font-size: 14px;
  color: #516381;
  display: flex;
  justify-content: center;
  align-items: center;
}
.futuretravel .futuretravelCenter .futuretravelBox .futuretravelContact .futuretraveContactItem .futuretravelContactText .futuretravelContactMedia {
  width: 190px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
.futuretravel .futuretravelCenter .futuretravelBox .futuretravelContact .futuretraveContactItem .futuretravelContactText .futuretravelContactMedia:hover {
  cursor: pointer;
}
.futuretravel .futuretravelCenter .futuretravelBox .futuretravelContact .futuretraveContactItem .futuretravelContactText .futuretravelContactMedia .mediaItem {
  width: 32px;
  height: 32px;
  border: 1px solid rgba(192, 192, 211, 0.2);
  border-radius: 50%;
  background-color: #f7f8fc;
  display: flex;
  justify-content: center;
  align-items: center;
}
.futuretravel .futuretravelCenter .futuretravelBox .futuretravelContact .futuretraveContactItem .futuretravelContactText .futuretravelContactMedia .mediaItem img {
  width: 12.4px;
  height: 12.4px;
}
.futuretravel .futuretravelCenter .futuretravelBox .futuretravelContact .rightline {
  width: 1px;
  height: 200px;
  background-color: rgba(192, 192, 211, 0.2);
}
.discovervaca {
  margin-left: 80px;
  width: 100%;
  height: 900px;
  background-color: #f7f8fc;
}
.discovervaca .discovervacaCenter {
  width: 1500px;
  height: 800px;
  margin: 0 auto;
  position: relative;
}
.discovervaca .discovervacaCenter .discovervacaBox {
  width: 1250px;
  height: 600px;
  padding: 48px 68px 0px 120px;
}
.discovervaca .discovervacaCenter .discovervacaBox .discovervacaName {
  margin-top: 20px;
}
.discovervaca .discovervacaCenter .discovervacaBox .discovervacaPost {
  width: 1280px;
  height: 500px;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.discovervaca .discovervacaCenter .discovervacaBox .discovervacaPost .discovervacaPostItem {
  width: 402px;
  height: 468px;
  padding: 15px 18px;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(192, 192, 211, 0.2);
  transition: 1s;
  transition-timing-function: ease-in-out;
  border-radius: 10px;
}
.discovervaca .discovervacaCenter .discovervacaBox .discovervacaPost .discovervacaPostItem:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 9px 48px -6px rgba(53, 64, 117, 0.12);
  background-color: white;
}
.discovervaca .discovervacaCenter .discovervacaBox .discovervacaPost .discovervacaPostItem:hover .discovervacaPostImg .image {
  transform: scale(1.1);
}
.discovervaca .discovervacaCenter .discovervacaBox .discovervacaPost .discovervacaPostItem .discovervacaPostImg {
  width: 365px;
  height: 250px;
  overflow: hidden;
  border-radius: 3px;
}
.discovervaca .discovervacaCenter .discovervacaBox .discovervacaPost .discovervacaPostItem .discovervacaPostImg .image {
  transition: 0.5s;
  transition-timing-function: linear;
  border-radius: 3px;
  width: 380px;
  height: 250px;
  background-size: 380px 250px;
  border-radius: 5px;
  background-position: 50% 50%;
}
.discovervaca .discovervacaCenter .discovervacaBox .discovervacaPost .discovervacaPostItem .discovervacaPostImg .img1 {
  background-image: url(https://assets.website-files.com/643bcd3a5f63889da40c7e3b/643bcd3a5f638866250c7f1d_013.jpeg);
}
.discovervaca .discovervacaCenter .discovervacaBox .discovervacaPost .discovervacaPostItem .discovervacaPostImg .img2 {
  background-image: url(https://assets.website-files.com/643bcd3a5f63889da40c7e3b/643bcd3a5f638857a40c7e72_019.jpeg);
}
.discovervaca .discovervacaCenter .discovervacaBox .discovervacaPost .discovervacaPostItem .discovervacaPostImg .img3 {
  background-image: url(https://assets.website-files.com/643bcd3a5f63889da40c7e3b/643bcd3a5f638816930c7f69_034.jpeg);
}
.discovervaca .discovervacaCenter .discovervacaBox .discovervacaPost .discovervacaPostItem .discovervacaTitle {
  margin-top: 25px;
}
.discovervaca .discovervacaCenter .discovervacaBox .discovervacaPost .discovervacaPostItem .discovervacaText {
  width: 310px;
  margin-top: 25px;
}
.discovervaca .discovervacaCenter .discovervacaBox .discovervacaPost .discovervacaPostItem .discovervacaLine {
  width: 375px;
  height: 1px;
  background-color: rgba(192, 192, 211, 0.2);
  margin-top: 25px;
}
.discovervaca .discovervacaCenter .discovervacaBox .discovervacaPost .discovervacaPostItem .discovervacaPrice {
  width: 365px;
  height: 50px;
  padding: 18px 12px 0px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.discovervaca .discovervacaCenter .discovervacaBox .discovervacaPost .discovervacaPostItem .discovervacaPrice .discovervacaPriceDetail {
  width: 100px;
  height: 30px;
  padding: 9px 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  border: 1px solid rgba(192, 192, 211, 0.2);
  transition: all 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  color: #081c3a;
  font-size: 10px;
  letter-spacing: 3px;
  text-decoration: none;
}
.discovervaca .discovervacaCenter .discovervacaBox .discovervacaPost .discovervacaPostItem .discovervacaPrice .discovervacaPriceDetail:hover {
  background-color: #081c3a;
  color: white;
}
.promise {
  width: 100%;
  height: 680px;
  background: url(https://assets.website-files.com/60675f13ea324fdd4af9ef2a/607b6ec5eba5a81fd8c62ddd_031.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  overflow: hidden;
}
.promise .overlay {
  width: 100%;
  height: 680px;
  background: rgba(15, 19, 38, 0.55);
}
.promise .overlay .promiseText {
  width: 700px;
  height: 600px;
  margin: 160px auto;
}
.promise .overlay .promiseText .promiseSubitle {
  width: 100%;
  height: 15px;
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}
.promise .overlay .promiseText .promiseTitle {
  width: 100%;
  height: 120px;
  color: #fff;
  text-align: center;
}
.promise .overlay .promiseText .promiseT {
  color: #fff;
  text-align: center;
  margin-top: 30px;
}
.agents {
  width: 100%;
  height: 800px;
}
.agents .agentTitle {
  width: 100%;
  height: 550px;
  padding: 40px 0px 200px 40px;
  margin: 0 auto;
  background-color: #FFFFFF;
}
.agents .agentTitle .agentContainer {
  width: 1280px;
  height: 550px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #1e425f;
  margin-left: 100px;
  background-color: #f7f8fc;
  margin-top: -70px;
  border-radius: 10px;
}
.agents .agentTitle .agentContainer .agentLink {
  text-decoration: none;
}
.agents .agentTitle .agentContainer .agentLink .agentContent {
  width: 310px;
  height: 496px;
  transition: 1s;
  border-radius: 10px;
  padding: 18px 18px 30px 18px;
}
.agents .agentTitle .agentContainer .agentLink .agentContent:hover {
  transform: scale(1.04);
  cursor: pointer;
  box-shadow: 0 12px 36px -8px rgba(53, 64, 117, 0.1);
}
.agents .agentTitle .agentContainer .agentLink .agentContent:hover .pic1 {
  transform: scale(1.1);
}
.agents .agentTitle .agentContainer .agentLink .agentContent:hover .pic2 {
  transform: scale(1.1);
}
.agents .agentTitle .agentContainer .agentLink .agentContent:hover .pic3 {
  transform: scale(1.1);
}
.agents .agentTitle .agentContainer .agentLink .agentContent:hover .pic4 {
  transform: scale(1.1);
}
.agents .agentTitle .agentContainer .agentLink .agentPictures {
  border-radius: 15px;
  overflow: hidden;
  width: 284px;
  height: 325px;
}
.agents .agentTitle .agentContainer .agentLink .agentPictures .pic1 {
  background: url(https://assets.website-files.com/606764630d23c37bf9d41bb1/607dd2aa459b2b6f7fc0100d_Portrait011.jpeg);
  background-size: cover;
  background-position: 50%;
  transition: 1s;
  width: 284px;
  height: 325px;
  border-radius: 10px;
}
.agents .agentTitle .agentContainer .agentLink .agentPictures .pic2 {
  background: url(https://assets.website-files.com/606764630d23c37bf9d41bb1/607dd2c8b05ec3b67689516f_Portrait019.jpeg);
  background-size: cover;
  background-position: 50%;
  transition: 1s;
  width: 284px;
  height: 325px;
  border-radius: 10px;
}
.agents .agentTitle .agentContainer .agentLink .agentPictures .pic3 {
  background: url(https://assets.website-files.com/606764630d23c37bf9d41bb1/607dd2e5e99d455515f2034c_Portrait015.jpeg);
  background-size: cover;
  background-position: 50%;
  transition: 1s;
  width: 284px;
  height: 325px;
  border-radius: 10px;
}
.agents .agentTitle .agentContainer .agentLink .agentPictures .pic4 {
  background: url(https://assets.website-files.com/606764630d23c37bf9d41bb1/607dd2fe2fd765fe6078acca_Portrait016.jpeg);
  background-size: cover;
  background-position: 50%;
  transition: 1s;
  width: 284px;
  height: 325px;
  border-radius: 10px;
}
.agents .agentTitle .agentContainer .agentLink .agentName {
  margin: 30px 25px 20px 10px;
}
.agents .agentTitle .agentContainer .agentLink .agentlocation {
  color: #79879e;
  margin: 0px 25px 20px 10px;
}
.footer {
  margin-left: 80px;
  width: 100%;
  margin-bottom: 20px;
}
.footer .footerBox {
  width: calc(100% - 80px);
  height: 100px;
  padding: 48px 0px 12px 36px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footerBox .footerDestinationBox {
  width: 540px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footerBox .footerDestinationBox .footerDestination {
  padding: 10px 14px;
  border-radius: 5px;
  background-color: #f7f8fc;
  color: #6c778b;
  font-size: 10px;
  margin-right: 10px;
  letter-spacing: 3px;
}
.footer .footerBox .footerDestinationBox .footerDesName {
  color: #657590;
  font-size: 10px;
  padding: 15px;
  border-radius: 5px;
  transition: 0.5s;
  transition-timing-function: linear;
  letter-spacing: 3px;
}
.footer .footerBox .footerDestinationBox .footerDesName:hover {
  cursor: pointer;
  background-color: #f7f8fc;
}
.footer .footerBox .footerLogoBox {
  height: 100px;
  margin-right: 8rem;
}
.footer .footerBox .footerLogoBox .footerLogo {
  color: #081c3a;
  font-size: 24px;
  text-transform: uppercase;
  margin-top: 30px;
}
.footer .footerBox .footerLogoBox .footerLogo span {
  font-weight: 700;
}
.footer .footerBox .footerLogoBox .footerCopyright {
  color: #657590;
  margin: 20px 0;
  font-size: 12px;
}
